---
---

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

.custom_indentation p {
  margin: 0;
  text-indent: 2em;
}

.custom_indentation_2 p {
  margin: 1;
  text-indent: 2em;
}